.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.visibility-0 {
    visibility: hidden !important;
}

.visibility-1 {
    visibility: visible !important;
}

.text-red {
  color: #ff3014;
  font-weight: bold;
}
